/* main dashboard page formatting */
.main {
  width: calc(100% - 440px);
  height: 100%;
  margin: 30px;
  margin-left: 410px;
  position:fixed;
}

/* header content */
.header-info {
    height:160px;
    display: flex;
    justify-content: space-between;
  }

  /* indicator box */
  .indicator {
    width: 290px;
    height: 80px;
    background-color: white;
    border-radius: 18px;
    box-shadow: 0px 0px 10px 5px rgb(0, 0, 0, 0.02);
    transition: 0.1s;
    padding: 10px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

/* upper section for add teacher buttons */
.add-teacher-section {
    height: 60px;
    display:flex;
    justify-content:center;
  }

  
