.sideview {
    align-items: flex-start;
    display: flex;
    height: 729px;
    position: relative;
    width: 997px;
  }
  
  .sideview .sidebar {
    align-self: stretch;
    background-color: #dce8f5;
    border-radius: 0px 30px 30px 0px;
    overflow: hidden;
    position: relative;
    width: 335px;
  }
  
  .sideview .line {
    height: 1px !important;
    left: 64px !important;
    object-fit: cover !important;
    position: absolute !important;
    top: 250px !important;
    width: 207px !important;
  }
  
  .sideview .menu {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2px;
    height: 314px;
    left: 15px;
    position: absolute;
    top: 394px;
    width: 301px;
  }
  
  .sideview .list-of-classes {
    align-items: flex-start;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 6px 12px #94a3b826;
    display: flex;
    flex-direction: column;
    gap: 9px;
    height: 287.79px;
    overflow: hidden;
    padding: 12px;
    position: relative;
    width: 280px;
  }
  
  .sideview .frame {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    position: relative;
  }
  
  .sideview .text-wrapper {
    color: var(--heading);
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .sideview .div {
    color: var(--text-grey);
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .sideview .banner-alert {
    align-items: center;
    align-self: stretch;
    background-color: var(--lightsurfaceprimary);
    border-color: #ffffff;
    border-left-style: solid;
    border-left-width: 12px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px #94a3b826;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 12px;
    padding: 8px 16px 8px 24px;
    position: relative;
    width: 100%;
  }
  
  .sideview .frame-2 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 6px;
    justify-content: center;
    position: relative;
  }
  
  .sideview .text-wrapper-2 {
    color: var(--primary);
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1.78px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .sideview .frame-3 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 4px;
    margin-bottom: -0.78px;
    position: relative;
    width: 100%;
  }
  
  .sideview .text-wrapper-3 {
    color: var(--primary);
    font-family: "Montserrat-Regular", Helvetica;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .sideview .frame-4 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 9px;
    position: relative;
    width: 100%;
  }
  
  .sideview .icon-instance {
    height: 9px !important;
    position: relative !important;
    width: 12px !important;
  }
  
  .sideview .text-wrapper-4 {
    color: var(--primary);
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .sideview .dashboard {
    align-items: center;
    background-color: #457b9d;
    border-radius: 16px;
    display: flex;
    gap: 16px;
    height: 40px;
    justify-content: center;
    left: 59px;
    max-height: 40px;
    overflow: hidden;
    padding: 0px 25px 0px 16px;
    position: absolute;
    top: 274px;
    width: 206px;
  }
  
  .sideview .icon-instance-node {
    height: 20.8px !important;
    position: relative !important;
    width: 24px !important;
  }
  
  .sideview .text-wrapper-5 {
    color: #ffffff;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 20px;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: 96px;
  }
  
  .sideview .teacher-information {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    left: 17px;
    position: absolute;
    top: 40px;
    width: 298px;
  }
  
  .sideview .teacher-image {
    height: 100px;
    object-fit: cover;
    position: relative;
    width: 100px;
  }
  
  .sideview .teacher-name {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 41px;
    justify-content: space-between;
    position: relative;
    width: 203px;
  }
  
  .sideview .text-wrapper-6 {
    color: #138999;
    font-family: "Open Sans-ExtraBold", Helvetica;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .sideview .text-wrapper-7 {
    color: #144047;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -3px;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .sideview .text-wrapper-8 {
    color: #144047;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .sideview .button-create-new {
    align-items: center;
    background-color: #007aff;
    border-radius: 10px;
    display: flex;
    gap: 4px;
    height: 32px;
    justify-content: center;
    left: 64px;
    padding: 10px 12px;
    position: absolute;
    top: 339px;
    width: 189px;
  }
  
  .sideview .text-wrapper-9 {
    color: #ffffff;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .sideview .vector-instance {
    height: 12px !important;
    position: relative !important;
    width: 12px !important;
  }
  
  .sideview .main-screen {
    align-items: center;
    align-self: stretch;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-right: -278px;
    padding: 32px 0px;
    position: relative;
    width: 940px;
  }
  
  .sideview .st {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 50px;
    padding: 0px 162px 0px 164px;
    position: relative;
    width: 100%;
  }
  
  .sideview .info {
    align-items: flex-start;
    display: flex;
    gap: 24px;
    height: 69px;
    justify-content: center;
    position: relative;
    width: 290px;
  }
  
  .sideview .frame-5 {
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #94a3b826;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 50px;
    height: 80px;
    justify-content: center;
    margin-bottom: -11px;
    overflow: hidden;
    padding: 0px 50px;
    position: relative;
  }
  
  .sideview .frame-6 {
    align-items: center;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 8px;
    height: 46px;
    justify-content: center;
    position: relative;
  }
  
  .sideview .solar-notebook {
    height: 20px !important;
    position: relative !important;
    width: 20px !important;
  }
  
  .sideview .text-wrapper-10 {
    color: #070930;
    font-family: "Open Sans-ExtraBold", Helvetica;
    font-size: 10px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 0.1px;
    margin-left: -14.5px;
    margin-right: -14.5px;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .sideview .frame-7 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    position: relative;
  }
  
  .sideview .text-wrapper-11 {
    color: var(--heading-1);
    font-family: "Open Sans-Bold", Helvetica;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 0.1px;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .sideview .line-2 {
    height: 2px !important;
    position: relative !important;
    width: 32px !important;
  }
  
  .sideview .text-wrapper-12 {
    color: #070930;
    font-family: "Open Sans-ExtraBold", Helvetica;
    font-size: 10px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 0.1px;
    margin-left: -7px;
    margin-right: -7px;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .sideview .frame-8 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    margin-left: -8px;
    margin-right: -8px;
    position: relative;
  }
  
  .sideview .column {
    align-items: flex-start;
    border-radius: 12px;
    display: flex;
    gap: 22px;
    height: 49px;
    overflow: hidden;
    position: relative;
    width: 445px;
  }
  
  .sideview .div-2 {
    align-items: center;
    background-color: #f3f6f9;
    border-bottom-style: solid;
    border-bottom-width: 0.6px;
    border-color: #e2e8f0;
    border-radius: 12px;
    display: flex;
    flex: 1;
    flex-grow: 1;
    height: 44px;
    justify-content: center;
    padding: 12px 24px;
    position: relative;
  }
  
  .sideview .ep-edit {
    align-items: center;
    background-color: #e77b39;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 23px;
    justify-content: center;
    margin-bottom: -1.5px;
    margin-left: -9.25px;
    margin-top: -1.5px;
    padding: 3px;
    position: relative;
    width: 27px;
  }
  
  .sideview .person-add {
    height: 18px;
    margin-bottom: -0.5px;
    margin-top: -0.5px;
    position: relative;
    width: 18px;
  }
  
  .sideview .overlap-group {
    height: 10px;
    position: relative;
    top: 4px;
  }
  
  .sideview .stroke-copy {
    height: 10px !important;
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
    width: 10px !important;
  }
  
  .sideview .icon-plus {
    height: 9px !important;
    left: 9px !important;
    position: absolute !important;
    top: 0 !important;
    width: 9px !important;
  }
  
  .sideview .text-wrapper-13 {
    color: #b5b5c3;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-right: -9.25px;
    margin-top: -0.1px;
    position: relative;
    text-align: right;
    width: 155px;
  }
  
  .sideview .folder-remove {
    height: 24px;
    margin-bottom: -3.5px;
    margin-left: -1.5px;
    margin-right: -1.5px;
    margin-top: -3.5px;
    position: relative;
    width: 24px;
  }
  
  .sideview .icon-folder-remove {
    height: 24px;
  }
  
  .sideview .overlap-group-2 {
    height: 24px;
    position: relative;
    width: 24px;
  }
  
  .sideview .icon-minus {
    height: 9px;
    left: 8px;
    position: absolute;
    top: 8px;
    width: 9px;
  }
  
  .sideview .icon-folder {
    height: 24px !important;
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
    width: 24px !important;
  }
  
  .sideview .img {
    height: 1px;
    left: 8px;
    object-fit: cover;
    position: absolute;
    top: 12px;
    width: 7px;
  }
  
  .sideview .yaklaan-etkinlikler {
    align-items: flex-start;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 6px 12px #94a3b826;
    display: flex;
    flex-direction: column;
    gap: 9px;
    height: 415px;
    overflow: hidden;
    padding: 12px;
    position: relative;
    width: 935px;
  }
  
  .sideview .text-wrapper-14 {
    color: #768385;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .sideview .banner-alert-2 {
    align-items: center;
    background-color: var(--lightsurfaceprimary);
    border-color: #ffffff;
    border-left-style: solid;
    border-left-width: 12px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px #94a3b826;
    display: flex;
    gap: 12px;
    height: 43px;
    margin-right: -7px;
    padding: 8px 16px 8px 24px;
    position: relative;
    width: 918px;
  }
  
  .sideview .text-wrapper-15 {
    color: #144047;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -4px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .sideview .frame-9 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 4px;
    margin-bottom: -3px;
    position: relative;
    width: 100%;
  }
  
  .sideview .text-wrapper-16 {
    color: #144047;
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .sideview .checkbox {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    position: relative;
  }
  
  .sideview .system-icons-wrapper {
    background-color: var(--primarybasewhite);
    border: 1px solid;
    border-color: #9ca3af;
    border-radius: 4px;
    height: 20px;
    overflow: hidden;
    position: relative;
    width: 20px;
  }
  
  .sideview .system-icons {
    height: 16px !important;
    left: 2px !important;
    position: absolute !important;
    top: 2px !important;
    width: 16px !important;
  }
  
  .sideview .title {
    color: var(--primarybaseblack);
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.24px;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .sideview .frame-10 {
    align-items: center;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 9px;
    justify-content: center;
    margin-bottom: -0.5px;
    margin-top: -0.5px;
    position: relative;
  }
  
  .sideview .div-wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 2px;
    height: 28px;
    position: relative;
    width: 72px;
  }
  
  .sideview .text-wrapper-17 {
    color: var(--primarybaseblack);
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.24px;
    line-height: 26px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .sideview .text-wrapper-18 {
    color: var(--primarygray-500);
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.24px;
    line-height: 20px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .sideview .group {
    height: 23px;
    margin-right: -2px;
    position: relative;
    width: 61px;
  }
  
  .sideview .text-wrapper-19 {
    color: #070930;
    font-family: "Open Sans-ExtraBold", Helvetica;
    font-size: 10px;
    font-weight: 800;
    left: 39px;
    letter-spacing: 0;
    line-height: 0.1px;
    position: absolute;
    text-align: center;
    top: 8px;
  }
  
  .sideview .ep-edit-instance {
    height: 23px !important;
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
    width: 27px !important;
  }