:root {
    --black: rgba(8, 9, 48, 1);
    --heading: rgba(29, 53, 87, 1);
    --heading-1: rgba(29, 53, 87, 1);
    --lightsurfaceprimary: rgba(255, 255, 255, 1);
    --primary: rgba(69, 123, 157, 1);
    --primarybaseblack: rgba(0, 0, 0, 1);
    --primarybasewhite: rgba(255, 255, 255, 1);
    --primarygray-400: rgba(156, 163, 175, 1);
    --primarygray-500: rgba(109, 114, 128, 1);
    --text-grey: rgba(172, 172, 172, 1);
    --white: rgba(255, 255, 255, 1);
  }