/* displayed text if there is an issue loading a list of schools/students */
  .list-issue {
    font-family: 'Open Sans', sans-serif;
    color:#516669;
    font-size: 15px;
    margin-left: 23px;
    margin-top: 0px;
  }
  
  /* remove bullet points from list */
  .nobullet, .nobullet li {
    list-style-type: none;
    padding-left: 0;
}

/* container for schools in sidebar */
.sidebar-schools-container {
  border-radius: 20px;
  width:85%;
  background-color:#eef5fa;
  height: calc(100% - 480px);
  margin: auto;
  padding-top: 2px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}

/* header text in sidebar container */
.sidebar-schools-container h1 {
  color:#138999;
  font-weight: bolder;
  font-size: 20px;
  margin-left: 23px;
  margin-bottom: 0px;
}

/* paragraph text in sidebar container */
.sidebar-schools-container p {
  color:#88a2a5;
  font-size: 15px;
  margin-left: 23px;
  margin-top: 0px;
}

/* sidebar school list, with overflow */
.sidebar-schools {
  overflow-y: auto;
  height: calc(100% - 90px);
  /* -ms-overflow-style: none;  IE and Edge */
  /* scrollbar-width: none;  Firefox */
  mask-image: linear-gradient(to bottom, transparent, black 2%, black 98%, transparent);
}

/* more preparation to hide scrollbar */
.sidebar-schools::-webkit-scrollbar {
  display: none;
}