/* styling for radio button */
.modal-text-input input[type="radio"] {
    color: #09393f;
    background-color: #f2f4f5;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
    border: 2px solid;
    border-color: #c2d2da !important;
    transition: 0.1s;
}
