body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}
.background-image{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('figma/css/path/image-3-renel.jpeg') no-repeat center center fixed; 
    background-size: cover;
    filter: blur(2.5px);
    z-index: -1;
}
