.sidebar {
    height: 100%;
    width: 400px;
    position: fixed;
    top: 0;
    left: 0;
    border-top-right-radius: 40px;
    background-color: #DCE8F5;
  }

  .shape {
    margin: auto;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: rgb(118, 118, 118);
  }

  .profile-name {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color:#138999;
    text-align: center;
    margin: 0px;
  }

  .profile-info {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color:#144047;
    text-align: center;
    margin: 0px;
  }

  .dashboard-icon {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: white;

    margin: auto;
    background-color: #457B9D;
    width:75%;
    border-radius: 10px;
    padding: 10px;
}


  .create-class-button {
      font-size: 15px;
      font-family: 'Open Sans', sans-serif;
      text-align: center;
      color: white;

      user-select: none;
      cursor: pointer;
      margin: auto;
      background-color: #457B9D;
      width:75%;
      border-radius: 10px;
      padding: 10px;
      
      transition: background-color 0.1s, width 0.1s;
  }

  .create-class-button:hover {
    background-color: #457B9D;
    width: 78%;
  }

    .sidebar-classes {
        border-radius: 20px;
        width:85%;
        background-color:#eef5fa;
        height: calc(100% - 480px);
        margin: auto;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);

    }

    .sidebar-class {
        border-radius: 10px;
        margin: 15px;
        height: 50px;
        /*background-color: #e9f2f8;*/
        background-color: white;
        box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.1);
        padding: 10px;
        transition: background-color 0.2s;
    }

    .sidebar-class:hover {
      background-color: #fff0d2;
    }

    .nobullet, .nobullet li {
        list-style-type: none;
        padding-left: 0;
    }

    .classes-title {
      font-family: 'Open Sans', sans-serif;
      color:#138999;
      font-weight: bolder;
      font-size: 20px;
      margin-left: 23px;
      margin-bottom: 0px;
    }

    .classes-memo {
      font-family: 'Open Sans', sans-serif;
      color:#88a2a5;
      font-size: 15px;
      margin-left: 23px;
      margin-top: 0px;
    }

    .class-info {
        font-family: 'Open Sans', sans-serif;
        color:#457B9D;

        margin: 0px;
    }

    .class-info-body {
        font-family: 'Open Sans', sans-serif;
        color:#457B9D;
        font-size: 14px;

        margin: 0px;
  }

  #classes-root {
    overflow-y: auto;
  }

  @keyframes modal-in {
    from {opacity: 0; backdrop-filter: blur(6px);}
    to {opacity: 1; backdrop-filter: blur(0px);}
  }

  @keyframes modal-out {
    from {opacity: 1; backdrop-filter: blur(0px);}
    to {opacity: 0; backdrop-filter: blur(6px);}
  }

  .class-add-modal {
    top:50%;
    right:-50%;
    width: 800px;
    height: 500px;
    transform: translate(-50%, -50%);
    border-radius:40px;
    background-color: white;
    box-shadow: 0px 0px 30px 20px rgba(0, 0, 0, 0.05);
    z-index: 1;
    display:block;
    padding: 20px;
    position: relative;
    animation: modal-in 0.1s ease-in-out;
    animation-fill-mode: forwards;
  }

  .displayed-modal {
    /* backdrop-filter: blur(6px); */
    /* background-color: rgb(0, 0, 0, 0.05); */
    animation: modal-out 0.1s ease-in-out;
    animation-fill-mode: forwards;
  }

  .class-add-modal-content {
    font-family: 'Open Sans', sans-serif;
    color:#09393f;
    font-size: 30px;
    text-align: center;
    padding-top: 5px;
    padding-left: 10px;
    position: absolute;
  }

  .class-add-modal-close {
    color:#9fa5a6;
    font-size: 30px;
    position: absolute;
    text-align:right;
    right: 30px;
    cursor: pointer;
    transition: 0.1s;
  }

  .class-add-modal-close:hover {
    color:#1d2424
  }

  @keyframes underlay-in {
    from {background-color: rgb(0, 0, 0, 0);
          backdrop-filter: blur(0px)}
    to {background-color: rgb(0, 0, 0, 0.05);
      backdrop-filter: blur(6px)}
  }

  @keyframes underlay-out {
    from {background-color: rgb(0, 0, 0, 0.05);
      backdrop-filter: blur(6px)}
      to {background-color: rgb(0, 0, 0, 0);
            backdrop-filter: blur(0px)}
  }

  .modal-underlay {
    width:100%;
    height:100%;
    top: -2px;
    left: -2px;
    background-color: rgb(0, 0, 0, 0);
    z-index: 1;
    position: fixed;
    /* transition: backdrop-filter 2s; */
    display: none;
    margin: 0px;
    animation: underlay-out 0.2s ease-in-out;
    animation-fill-mode: forwards;
  }

  .blurred-modal-underlay {
    /* backdrop-filter: blur(6px); */
    /* background-color: rgb(0, 0, 0, 0.05); */
    animation: underlay-in 0.2s ease-in-out;
    animation-fill-mode: forwards;
  }

  .modal-text-input {
    text-align: center;
  }

  .modal-text-input input[type="text"] {
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    color: #09393f;
    background-color: #f2f4f5;
    font-size: 18px;
    width: 450px;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
    border: 2px solid;
    border-color: #c2d2da;
    transition: 0.1s;
  }

  .modal-text-input input[type="text"]:focus {
    background-color: #f7f9fa;
    border-color: #9eb5c2 !important;
    border: 2px solid;
    outline: none;
    width: 460px;
    padding-left: 15px;
  }

  .modal-text-input input[type="text"]:hover {
    background-color: #f5f6f8;
    box-shadow: 0px 0px 30px 0px rgb(0, 0, 0, 0.05);
    width: 460px;
    padding-left: 15px;
  }

  .modal-text-input select {
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    color: #09393f;
    background-color: #f2f4f5;
    font-size: 15px;
    width: 150px;
    height: 40px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
    border: 2px solid;
    border-color: #c2d2da;
    transition: 0.1s;
  }

  .modal-text-input select:hover {
    background-color: #f5f6f8;
    box-shadow: 0px 0px 30px 0px rgb(0, 0, 0, 0.05);
    width: 160px;
    padding-left: 12px;
  }

  .modal-text-input select:focus {
    background-color: #f5f6f8;
    box-shadow: 0px 0px 30px 0px rgb(0, 0, 0, 0.05);
    width: 160px;
    padding-left: 12px;
    border-color: #9eb5c2 !important;
  }

  .modal-text-input-invalid {
    border-color: #ac0000 !important;
  }

  .modal-submit {
    text-align: center;
  }

  .modal-submit input[type="submit"] {
    text-align: center;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    color: #5d7073;
    background-color: #f2f4f5;
    font-size: 16px;
    width: 100px;
    height: 40px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
    border: 2px solid;
    border-color: #c2d2da;
    transition: 0.1s;
  }

  .modal-submit input[type="submit"]:focus {
    color: #09393f;
    border-color: #4083b0 !important;
    border: 2px solid;
    outline: none;
    width: 100px;
  }

  .modal-submit input[type="submit"]:hover {
    color: #09393f;
    box-shadow: 0px 0px 30px 0px rgb(0, 0, 0, 0.05);
    width: 105px;
    background-color: #f5f6f8;
  }

  .main {
    margin-left: 400px;
    font-size: 28px;
  }